# Eclipse
.classpath
.project
.settings/

# Intellij
.idea
*.iml
*.iws

# Mac
.DS_Store

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

### Linux ###
*~

# Maven
cats-ftp/
log/
logs/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

#CATS
**/.frequentis-cats/master/cats-master-ftp-users.properties
**/.frequentis-cats/profiles/
